
body {
  font-family: "Roboto", sans-serif;
  background-color: #E5E5E5;
}

.container {
  max-width: 1032px;
  margin: 72px auto 48px auto;
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
}

.content {
  width: 100%;
}

.title {
  font-size: 32px;
  margin-bottom: 48px;
 }


.tabs {
  display: flex;
  justify-content: flex-start;
}

.tabs__el {
  display: flex;
  width: 152px;
  height: 48px;
  background-color: #EDEEEF;
  border-radius: 5px 5px 0 0;
  margin-right: 8px;
  cursor: pointer;
  color: #999999;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.hidden {
  display: none;
}

.active {
  background-color: white;
  color: #215BF0;
}


.tabs__el:hover .tabs__title {
  color: #215BF0;
  transition: 0.6s;
}

.tabs__title {
  margin: auto;
}

.form {
  background-color: white;
  border-radius: 0 0 5px 5px;
  padding: 44px 40px;
  display: flex;
  flex-direction: column;
 }

.form__input, .form__textarea {
  width: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #999999;
  text-indent: 16px;
  font-size: 16px;
  cursor: pointer;
}

.form__textarea:focus {
  outline: none;
  border-color: #222222;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.form__input:focus {
  outline: none;
 box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  border-color: #222222;
}

.form__input {
  height: 48px;
  
}
.form__textarea {
  resize: none;
}

.form__field-title {
  display: block;
  color: #222222;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 12px;
}

@media  (max-width: 576px) {
	.form__field-title {
		font-size: 14px}
}

.form__line {
  display: flex;
  position:relative;
}

.form__block:nth-of-type(2) {
	margin-left: 24px;
}

@media  (max-width: 576px) {
	.form__line {
		 flex-direction: column;
	}
	.form__block:nth-of-type(2) {
		margin-left: 0;
	}
}

.form__block {
  position: relative;
  width: 100%;
  margin-bottom: 36px;
}

 
.form__submit {
  margin-left: auto;
}

@media  (max-width: 576px) {
	.form__submit {
		margin-right: auto;
	}
}

.form__btn {
  background: #215BF0;
  border-radius: 80px;
  color: #ffffff;
  width: 200px;
  height: 48px;
  border: none;
  cursor: pointer;
  outline: none;
}

.form__btn:focus {
  background-color: #0F41C3;
  transition: 0.3s;
}

.form__btn:disabled {
  background: #EDEEEF;
  border-radius: 80px;
  color: #999999;
  width: 200px;
  height: 48px;
  border: none;
  cursor: pointer;
  outline: none;
}


.radiobox {
  position: relative;
  cursor: pointer;
  margin-bottom: 26px;
}


.form__radiobox {
  position: absolute;
  opacity: 0;
}


.form__radio-text {
  position: relative;
  font-size: 16px;
  line-height: 24px;
  padding-left: 24px;
  color: #222222;
}

.form__radio-text::before {
  content: "";
  position: absolute;
  display: inline-block;
  left: 0;
  top: 1px;
  width: 16px;
  height: 16px;
  border: 1px solid #222222;
  border-radius: 50%;
  box-sizing: border-box;
}

.form__radio-text::after {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: 8px;
  top: 9px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: black;
  opacity: 0;
}

.form__radiobox:checked + .form__radio-text {
  color: #215BF0;
  transition: 0.4s;
}

.form__radiobox:checked + .form__radio-text::after {
  opacity: 1;
}

.error {
    position: absolute;
    height: 10px;
    bottom: -15px;
    font-size: 12px;
    line-height: 16px;
    color: #F12828;
}

.error__radio {
  position: absolute;
  height: 10px;
  bottom: 15px;
  font-size: 12px;
  line-height: 16px;
  color: #F12828;
}

.alert {
  position: absolute;
  right: 17px;
  bottom: 13px;
}

